@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fffccb;
}

.center {
  margin: 0 auto;
}

.feed-card {
  all: unset;
  cursor: pointer;
}

.feed-card:hover,
.feed-card:active:focus {
  background-color: transparent;
}

.border-black {
  border-bottom: 1px solid black;
}

.content-border {
  border: 1px solid black;
  height: 340px;
  width: 500px;
  border-radius: 7px;
  padding: 10px;
  margin-top: 13px;
}

.cart {
  margin-top: 2px;
  cursor: pointer;
}

.publish-btn {
  background-color: rgb(184, 255, 118);
}

.publish-btn:hover {
  background-color: rgb(136, 255, 25);
}

.tag-style {
  background-color: rgb(216, 255, 179);
  border-radius: 20px;
  border: 1px solid black;
  padding: 7px;
}

.select-style {
  width: 350px;
}
